/* .low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
} */

.fa-home {
  font-size: 3em;
}

@media screen and (min-width: 550px) {
  #thermostat {
    width: 100%;
    max-width: 50%;
    padding: 15px;
    margin: auto;
  }
}